.reset {
  all: unset;
}

$white: #ffffff;
$gray: hsl(212, 45, 89);
$mainColor: hsl(220, 15, 55);
$secondColor: hsl(218, 44, 22);

h3 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin: 16px;
  color: $secondColor;
}

p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: $mainColor;
}

body {
  background-color: $gray;
  font-family: "Outfit", sans-serif;
  font-style: normal;

  .card {
    box-sizing: border-box;
    width: 320px;
    height: 497px;
    background-color: $white;
    border-radius: 20px;
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;

    img {
      width: 288px;
      height: auto;
      border-radius: 10px;
    }
    #description {
      width: 288px;
    }
  }
}
